<div id="prod-index">

  <div class="row">
    <div class="col-sm-3 hidden-xs nopadding">

      <div class="panel">
        <h5 class="panel-heading">Category</h5>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" value="">Scooter</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Motorcycle</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Dream Series</label>
          </div>
        </div>
      </div>

      <div class="panel">
        <h5 class="panel-heading">Cylinder</h5>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" value="">100 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">110 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">125 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">150 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">250 cc</label>
          </div>
        </div>
      </div>

      <div class="panel">
        <h5 class="panel-heading">Engine Type</h5>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" value="">Air-cooled, 4 stroke</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Liquid-cooled, 4 stroke</label>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-9 nopadding">
      <h3 class="page-title">
        Products
      </h3>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6 nopadding">
            <div class="product-container">
              <%= cl_image_tag("cbshine.jpg") %>
              <div class="product-description">
                <h5 class="product-name">CB Shine</h5>
                <div class="product-color">
                  <div class="box color-blue"></div>
                  <div class="box color-white"></div>
                  <div class="box color-red"></div>
                </div>
                <div class="product-specs">
                  <ul>
                    <li>Motorcycle</li>
                    <li>125 cc</li>
                    <li>Air-cooled</li>
                  </ul>
                </div>
              </div>
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 nopadding">
            <div class="product-container">
              <%= cl_image_tag("cbtrigger.jpg") %>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 nopadding">
            <div class="product-container">
              <%= cl_image_tag("cbfstunner.jpg") %>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 nopadding">
            <div class="product-container">
              <%= cl_image_tag("cbr150r.jpg") %>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 nopadding">
            <div class="product-container">
              <%= cl_image_tag("cbtwister.jpg") %>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>




